<!DOCTYPE html>

<!-- <npdc:edit-button class="np-primary-control"></npdc:edit-button> -->
<npdc:loader ng-if="!document"></npdc:loader>

<h3>&nbsp;&nbsp; {{document.target_database}}</h3>
<div><p>select arctic, antarctic- map</p><p>activity_type-research,topographical mapping,outreach VIP,logistic operations,other</p><p>time</p><p>filter</p><p>clear</p></div>


<!--<leaflet ng-if="document && mapOptions" options="mapOptions" class="coverage-map"></leaflet> -->
<div id="mapid" style="height: 800px; width:" + window.innerWidth + "px;" ></div>


<div ng-if="document" class="np-padding"></div>


      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>





